[submodule "mime_info"]
	path = mime_info
	url = https://github.com/katahiromz/mime_info.git
[submodule "mstr"]
	path = mstr
	url = https://github.com/katahiromz/mstr.git
[submodule "color_value"]
	path = color_value
	url = https://github.com/katahiromz/color_value.git
[submodule "AmsiScanner"]
	path = AmsiScanner
	url = https://github.com/katahiromz/AmsiScanner.git
